#Navigation {
  margin: 0;
  padding: 0;
  background-color: #3a3a3a;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  line-height: 3rem;
}
#Navigation :hover {
  cursor: pointer;
  background-color: #545454;
}
#Navigation .Navigation-item {
  justify-content: center;
  text-align: center;
  list-style: none;
  font-size: 0.9rem;
}

@media screen and (min-width: 500px) {
  #Navigation .Navigation-item {
    font-size: 1.1rem;
  }
}
.two-column-grid {
  display: flex;
  flex-direction: column-reverse;
}
.two-column-grid .two-column-grid__column {
  height: auto;
  width: 100%;
}
.two-column-grid .two-column-grid__column .two-column-grid__column__list {
  color: #04559b;
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  width: 100%;
}
.two-column-grid .two-column-grid__column .two-column-grid__column__list .two-column-grid__column__list__item {
  font-size: 1.5rem;
  text-align: center;
}
.two-column-grid .two-column-grid__column .two-column-grid__column__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: auto;
}
.two-column-grid .two-column-grid__column .two-column-grid__column__img__container .six-column-grid__social-link__container__link {
  height: 100%;
  width: 100%;
}
.two-column-grid .two-column-grid__column .two-column-grid__column__img__container .two-column-grid__column__img {
  height: 100%;
  width: auto;
  border-radius: 10%;
}

.six-column-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.six-column-grid .six-column-grid__social-link__container {
  height: auto;
  width: 100%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: solid 1px white;
}
.six-column-grid .six-column-grid__social-link__container .six-column-grid__social-link__container__link {
  height: 100%;
  width: 100%;
}
.six-column-grid .six-column-grid__social-link__container .six-column-grid__social-link__container__link .six-column-grid__social-link__container__link__img {
  height: 100%;
  width: 100%;
}

.portfolio-column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding: 0;
}
.portfolio-column-grid .portfolio-column-grid__column {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: solid 1px white;
  padding: 0.8rem;
  background-color: #ececec;
}
.portfolio-column-grid .portfolio-column-grid__column .portfolio-column-grid__column__img__container .portfolio-column-grid__column__img {
  height: 100%;
  width: 100%;
}
.skills-container {
  padding: 2rem;
  box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: solid 1px white;
  font-size: 1.5rem;
}
.skills-container .skills-container__title__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.skills-container .skills-container__title__container .skills-container__title__container__title {
  text-align: center;
  margin: 0;
}
.skills-container .skills-container__title__container :nth-child(2) {
  align-self: center;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}
.skills-container .skills-container__title__container .skills-container__title__container__img__container .skills-container__title__container__img {
  height: 100%;
  width: 100%;
}
.skills-container .skills-container__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.skills-container .skills-container__grid .skills-container__grid__item {
  height: auto;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container {
  display: flex;
  max-height: 10rem;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container .skills-container__grid__item__container__img {
  max-height: 10rem;
  margin: auto;
  border-radius: 5%;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container {
  height: auto;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container .skills-container__grid__item__container__text {
  text-align: center;
}

.skills-container {
  margin-bottom: 6rem;
  padding: 2rem;
  box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: solid 1px white;
  font-size: 1.5rem;
}
.skills-container .skills-container__title__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-container .skills-container__title__container .skills-container__title__container__title {
  margin: 0;
}
.skills-container .skills-container__title__container :nth-child(2) {
  align-self: center;
  justify-self: end;
  font-size: 2.5rem;
  margin: 0;
}
.skills-container .skills-container__title__container .skills-container__title__container__img__container .skills-container__title__container__img {
  height: 100%;
  width: 100%;
}
.skills-container .skills-container__grid {
  display: grid;
  grid-template-columns: 1fr;
}
.skills-container .skills-container__grid .skills-container__grid__item {
  height: auto;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container {
  display: flex;
  max-height: 10rem;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container .skills-container__grid__item__container__img {
  max-height: 10rem;
  margin: auto;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container {
  height: auto;
}
.skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container .skills-container__grid__item__container__text {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .two-column-grid {
    flex-direction: row;
    padding: 0 6rem;
    align-items: center;
  }
  .two-column-grid .two-column-grid__column .two-column-grid__column__list {
    justify-items: start;
  }
  .two-column-grid .two-column-grid__column .two-column-grid__column__list .two-column-grid__column__list__item i {
    font-size: 1.3rem;
  }
  .two-column-grid .two-column-grid__column .two-column-grid__column__img__container {
    height: 30vh;
    width: auto;
  }
  .two-column-grid .two-column-grid__column .two-column-grid__column__img__container .two-column-grid__column__img {
    height: 100%;
    width: auto;
  }

  .two-column-grid__column:nth-child(1) {
    justify-self: start;
  }

  .two-column-grid__column:nth-child(2) {
    justify-self: end;
  }

  .six-column-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 6rem;
  }
  .six-column-grid .six-column-grid__social-link__container {
    height: 10vh;
    width: 7vw;
  }
  .six-column-grid .six-column-grid__social-link__container .six-column-grid__social-link__container__link {
    height: 100%;
    width: 100%;
    display: grid;
  }
  .six-column-grid .six-column-grid__social-link__container .six-column-grid__social-link__container__link .six-column-grid__social-link__container__link__img {
    justify-self: start;
    height: 100%;
    width: 100%;
    border: solid 4px whitesmoke;
  }

  .portfolio-column-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    padding: 0;
  }
  .portfolio-column-grid .portfolio-column-grid__column {
    border: solid 1px white;
    padding: 0.8rem;
    background-color: #fffefe;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  .portfolio-column-grid .portfolio-column-grid__column .portfolio-column-grid__column__img__container .portfolio-column-grid__column__img {
    height: 100%;
    width: 100%;
  }
  .skills-container {
    display: grid;
    padding: 2rem;
    box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: solid 1px white;
    font-size: 1.5rem;
  }
  .skills-container .skills-container__title__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .skills-container .skills-container__title__container .skills-container__title__container__title {
    justify-self: left;
    margin: 0;
  }
  .skills-container .skills-container__title__container :nth-child(2) {
    align-self: center;
    justify-self: end;
    font-size: 2.5rem;
    margin: 0;
  }
  .skills-container .skills-container__title__container .skills-container__title__container__img__container .skills-container__title__container__img {
    height: 100%;
    width: 100%;
  }
  .skills-container .skills-container__grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .skills-container .skills-container__grid .skills-container__grid__item {
    height: auto;
  }
  .skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container {
    display: flex;
    max-height: 10rem;
  }
  .skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__img__container .skills-container__grid__item__container__img {
    max-height: 10rem;
    margin: auto;
  }
  .skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container {
    height: auto;
  }
  .skills-container .skills-container__grid .skills-container__grid__item .skills-container__grid__item__container__text__container .skills-container__grid__item__container__text {
    text-align: center;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#Main {
  margin: 3rem 0;
  padding: 0 2rem;
}

.title-container {
  height: 5vh;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0;
  margin-bottom: 2rem;
}
.title-container .title-container__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  width: 100%;
}
.title-container .title-container__title .title-container__title__line {
  padding: 0 1rem;
  width: 100%;
  border: solid 1px #dcdbdb;
}
.title-container .title-container__title span {
  margin: 0 1rem;
}

.border-line {
  width: 100%;
  border: solid 1px #dcdbdb;
  margin: 2rem 0;
}

@media screen and (min-width: 500px) {
  #Main {
    margin: 3rem 0;
    padding: 0 15rem;
  }

  .title-container {
    height: 5vh;
    width: 100%;
    display: grid;
    align-content: center;
  }
  .title-container .title-container__title {
    display: grid;
    margin: 0;
    font-size: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .title-container .title-container__title span {
    margin: 0 2rem;
  }
  .title-container .title-container__title .title-container__title__line {
    padding: 0 1rem;
    width: 100%;
    border: solid 1px #dcdbdb;
  }
}

/*# sourceMappingURL=App.css.map */
