$standard-item-size: 1rem;
$backgroundColor: (
    "main": #33383e,
);

/* Footer */

.footer-container {
    font-size: $standard-item-size;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column-gap: 1rem;
    color: white;
    background-color: map-get($map: $backgroundColor, $key: main);

    #footer-logo-img-container {
        #footer-logo-img {
            width: 8rem;
            height: auto;
        }
    }

    .footer-social__icon__link__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 1rem;

        .footer-social__icon__link {
            background: white;
            padding: 1rem;
            border-radius: 50%;
            color: map-get($map: $backgroundColor, $key: main);
            .footer-social__icon {
                font-size: 1.5rem;
            }
        }
    }

    .footer-link-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        list-style: none;
        padding: 0;

        .footer-link {
            padding-bottom: 1rem;

            .link {
                text-decoration: none;
                color: white;
            }
        }
    }
    #copyright {
        margin: 0;
    }
}
