// Two Column Grid
.two-column-grid {
    display: flex;
    flex-direction: column-reverse;

    .two-column-grid__column {
        height: auto;
        width: 100%;

        .two-column-grid__column__list {
            // margin: 0;
            color: #04559b;
            margin: 1rem 0;
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            width: 100%;
            .two-column-grid__column__list__item {
                font-size: 1.5rem;
                text-align: center;
            }
        }

        .two-column-grid__column__img__container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30vh;
            width: auto;

            .six-column-grid__social-link__container__link {
                height: 100%;
                width: 100%;
            }

            .two-column-grid__column__img {
                height: 100%;
                width: auto;
                border-radius: 10%;
            }
        }
    }
}

// Six Column Grid
.six-column-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .six-column-grid__social-link__container {
        height: auto;
        width: 100%;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff,
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border: solid 1px white;
        .six-column-grid__social-link__container__link {
            height: 100%;
            width: 100%;
            .six-column-grid__social-link__container__link__img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

// Portfolio Column Grid
.portfolio-column-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    padding: 0;
    .portfolio-column-grid__column {
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff,
            0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border: solid 1px white;
        padding: 0.8rem;
        background-color: #ececec;

        .portfolio-column-grid__column__img__container {
            .portfolio-column-grid__column__img {
                height: 100%;
                width: 100%;
            }
        }

        .portfolio-column-grid__column__info {
            .portfolio-column-grid__column__info__title {
            }
            .portfolio-column-grid__column__info__text {
            }
        }
    }
}

// Skills Column Grid
.skills-container {
    // display: grid;
    padding: 2rem;
    box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: solid 1px white;
    font-size: 1.5rem;

    .skills-container__title__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        .skills-container__title__container__title {
            text-align: center;
            margin: 0;
        }
        :nth-child(2) {
            align-self: center;
            text-align: center;
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        .skills-container__title__container__img__container {
            .skills-container__title__container__img {
                height: 100%;
                width: 100%;
            }
        }
        .skills-container__title__container__title__container {
            .skills-container__title__container__text {
            }
        }
    }

    .skills-container__grid {
        display: grid;
        grid-template-columns: 1fr;

        .skills-container__grid__item {
            height: auto;
            .skills-container__grid__item__container__img__container {
                display: flex;
                max-height: 10rem;

                .skills-container__grid__item__container__img {
                    max-height: 10rem;
                    margin: auto;
                    border-radius: 5%;
                }
            }
            .skills-container__grid__item__container__text__container {
                height: auto;
                .skills-container__grid__item__container__text {
                    text-align: center;
                }
            }
        }
    }
}

// Skills Column Grid
.skills-container {
    // display: grid;
    margin-bottom: 6rem;
    padding: 2rem;
    box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: solid 1px white;
    font-size: 1.5rem;

    .skills-container__title__container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .skills-container__title__container__title {
            margin: 0;
        }
        :nth-child(2) {
            align-self: center;
            justify-self: end;
            font-size: 2.5rem;
            margin: 0;
        }
        .skills-container__title__container__img__container {
            .skills-container__title__container__img {
                height: 100%;
                width: 100%;
            }
        }
        .skills-container__title__container__title__container {
            .skills-container__title__container__text {
            }
        }
    }

    .skills-container__grid {
        display: grid;
        grid-template-columns: 1fr;

        .skills-container__grid__item {
            height: auto;
            .skills-container__grid__item__container__img__container {
                display: flex;
                max-height: 10rem;

                .skills-container__grid__item__container__img {
                    max-height: 10rem;
                    margin: auto;
                }
            }
            .skills-container__grid__item__container__text__container {
                height: auto;
                .skills-container__grid__item__container__text {
                    text-align: center;
                }
            }
        }
    }
}

// Media Quires

@media screen and (min-width: 1000px) {
    // Two Column Grid
    .two-column-grid {
        flex-direction: row;
        padding: 0 6rem;
        align-items: center;

        .two-column-grid__column {
            .two-column-grid__column__list {
                justify-items: start;
                .two-column-grid__column__list__item {
                    i {
                        font-size: 1.3rem;
                    }
                }
            }

            .two-column-grid__column__img__container {
                height: 30vh;
                width: auto;
                // justify-content: flex-end;

                .two-column-grid__column__img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    .two-column-grid__column:nth-child(1) {
        justify-self: start;
        // padding: 1rem 4rem 1rem 1rem;
    }

    .two-column-grid__column:nth-child(2) {
        justify-self: end;
        // width: 50%;
    }

    // Six Column Grid
    .six-column-grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        padding: 1rem 6rem;
        // grid-auto-columns: min-content;

        .six-column-grid__social-link__container {
            height: 10vh;
            width: 7vw;

            .six-column-grid__social-link__container__link {
                // margin-top: 2rem;
                // height: 10vh;
                height: 100%;
                width: 100%;
                display: grid;
                // grid-auto-columns: min-content;

                .six-column-grid__social-link__container__link__img {
                    justify-self: start;
                    // max-height: 8vh;
                    // width: auto;
                    height: 100%;
                    width: 100%;
                    border: solid 4px whitesmoke;
                }
            }
        }
    }

    // Portfolio Column Grid
    .portfolio-column-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 3rem;
        padding: 0;
        .portfolio-column-grid__column {
            border: solid 1px white;
            padding: 0.8rem;
            background-color: #fffefe;
            box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #fff,
                0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
            .portfolio-column-grid__column__img__container {
                .portfolio-column-grid__column__img {
                    height: 100%;
                    width: 100%;
                }
            }

            .portfolio-column-grid__column__info {
                .portfolio-column-grid__column__info__title {
                }
                .portfolio-column-grid__column__info__text {
                }
            }
        }
    }

    // Skills Column Grid
    .skills-container {
        display: grid;
        padding: 2rem;
        box-shadow: 0 0 0 2px #fff, 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border: solid 1px white;
        font-size: 1.5rem;

        .skills-container__title__container {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .skills-container__title__container__title {
                justify-self: left;
                margin: 0;
            }
            :nth-child(2) {
                align-self: center;
                justify-self: end;
                font-size: 2.5rem;
                margin: 0;
            }
            .skills-container__title__container__img__container {
                .skills-container__title__container__img {
                    height: 100%;
                    width: 100%;
                }
            }
            .skills-container__title__container__title__container {
                .skills-container__title__container__text {
                }
            }
        }

        .skills-container__grid {
            display: grid;
            grid-gap: 3rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .skills-container__grid__item {
                height: auto;
                .skills-container__grid__item__container__img__container {
                    display: flex;
                    max-height: 10rem;

                    .skills-container__grid__item__container__img {
                        max-height: 10rem;
                        margin: auto;
                    }
                }
                .skills-container__grid__item__container__text__container {
                    height: auto;
                    .skills-container__grid__item__container__text {
                        text-align: center;
                    }
                }
            }
        }
    }
}
