$colors: (
    background: #3a3a3a,
    text-color: #ffffff,
);

#Navigation {
    margin: 0;
    padding: 0;
    background-color: map-get($map: $colors, $key: background);
    color: map-get($map: $colors, $key: text-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    line-height: 3rem;

    :hover {
        cursor: pointer;
        background-color: lighten(
            map-get($map: $colors, $key: background),
            10%
        );
    }

    .Navigation-item {
        justify-content: center;
        text-align: center;
        list-style: none;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 500px) {
    #Navigation {
        .Navigation-item {
            font-size: 1.1rem;
        }
    }
}
